html, body {
    margin: 0;
}

body {
    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

h1, h2, h3 {
    font-family: 'Quicksand';
    color: rgba(0,0,0,0.7);
}

p {
    font-family: 'Quicksand';
}

#info-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    padding: 2rem;
    border-radius: 0.4rem;
    background: rgba(105, 111, 255, 0.95); // #696FFF;
}
.info h1 {
    margin: 0;
    text-align: center;
}

p {
    font-family: 'Roboto';
}

.field {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.field a {
    display: inline-block;
}

.field img {
    max-width: 50px;
    opacity: 0.6;
}

.field img:hover {
    opacity: 0.4;
}
