---
import type { CollectionEntry } from "astro:content";

import Project from "./Project.astro";

type Project = CollectionEntry<"projects">;

export interface Props {
  projects: Project[];
  class?: string;
}

const { projects, class: className } = Astro.props;

const sortedProjects = [...projects]
  .sort((a, b) => {
    const aDate = (a.data.end ?? a.data.start).getTime();
    const bDate = (b.data.end ?? b.data.start).getTime();
    return bDate - aDate;
  });
---

<ul class={`projects-list grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-2 xl:grid-cols-3 gap-8 ${className || ""}`}>
  {sortedProjects.map((project) => (
    <li class="w-full">
      <Project project={project} />
    </li>
  ))}
</ul>
