---
export interface Props {
	title: string;
	body: string;
	href: string;
}

// const { href, title, body } = Astro.props;

import { Button } from '~/ui';
---
<div>
	quick
	<Button>test</Button>
</div>

